@mixin center($flexDirection, $alignItems, $justifyContents, $gap: 40px) {
  display: flex;
  flex-direction: $flexDirection;
  align-items: $alignItems;
  justify-content: $justifyContents;
  gap: $gap;
}