@use "../sass-utils/classes" as *;

.movie-recommendations {
  @extend .content-width;
  margin: 0 auto;
  padding: 40px 0;

  & > div {
    @extend .movie-grid;
  }

  h1 {
    text-align: center;
    margin-bottom: 40px;
  }
}